---
import Layout from '../layouts/Layout.astro';
import User from '../components/User.svelte';
import LinkCard from '../components/LinkCard.svelte';
---

<Layout title="Antares Dashboard">
    <header class="m-16">
        <User name="Петр Алексеев" position="Full stack"/>
    </header>
    <main>
        <h1 class="uppercase text-9xl font-bold text-center">Antares<br/>Dashboard</h1>

        <!--<input>-->

        <section class="grid grid-cols-4 mx-64 gap-8">
            <LinkCard title="Оценки" href="/assessment"/>
            <LinkCard title="Задачи" href="/"/>
            <LinkCard title="Резюме" href="/"/>
            <LinkCard title="Отчёты" href="/"/>
        </section>
    </main>
</Layout>
