<script lang="ts">
  import LinkSvg from './Link.svg.svelte';

  export let title: string = '',
    href: string = '';
</script>

<article class="
    border-2 border-neutral-200 rounded-3xl duration-100
    hover:border-black hover:shadow-[0_5px_0_#000]
">
    <a {href} class="block space-y-6 py-6 px-4 outline-none">
        <section class="flex justify-between">
            <h2 class="font-bold text-4xl">{title}</h2>
            <LinkSvg/>
        </section>
        <p class="text-2xl">52</p>
    </a>
</article>