<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 28L28 2M28 2V26.96M28 2H3.04" stroke="black" stroke-width="3" stroke-linecap="round"
          stroke-linejoin="round"/>
</svg>
