<script lang="ts">
  export let src: string = '/favicon.svg',
    alt: string = '',
    name: string = '',
    position: string = '';
</script>

<article class="flex gap-4 text-right justify-end">
    <section>
        <p class="text-2xl">{name}</p>
        <p class="text-xl font-light">{position}</p>
    </section>
    <img {src} {alt} class="w-16 h-16">
</article>