---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <meta name="description" content="Astro description"/>
        <meta name="viewport" content="width=device-width"/>
        <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
        <meta name="generator" content={Astro.generator}/>
        <title>{title}</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body class="font-montserrat">
        <slot/>
    </body>
</html>
